/**
 * trumps/_main.scss
 */

/* ==========================================================================
   Trumps
   ========================================================================== */


// Positioning Helpers
.float-left{
	float: left !important;
}

.float-right{
	float: right !important;
}



// Visibility Helpers
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
 